// WYVF custom variables

// Your variable overrides
$icomoon-font-path: 		"../../twenty-em/node_modules/@themingisprose/icon-pack/fonts";

// Grid containers
$container-max-widths: (
	xl: 1400px
);

// Fonts
$font-family-sans-serif:	"Lato", sans-serif;
$headings-font-family:		"Volkhov", sans-serif;

// Colors
$theme-colors: (
	"primary": #009ab8,
	"success": #72b445,
	"green": #39a77f
);
$link-color:				#495057;

// Links
$link-hover-decoration:		none;

// Spacers
$spacer:					1rem;
$spacers: (
	6: ($spacer * 6),
	7: ($spacer * 7),
	8: ($spacer * 8),
	9: ($spacer * 9),
	10: ($spacer * 10),
	15: ($spacer * 15)
)
