// WYVF scss source file

//
// Imports
//
@import "custom";
@import "../../twenty-em/scss/theme";

//
// Scaffolding
//
html{
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn{
	@extend .text-uppercase;
	@extend .font-weight-bold;
}
.btn{
	@extend .shadow;
}
.font-sans-serif{
	font-family: $font-family-sans-serif;
}

//
// Navigation
//
#top-menu{
	.navbar{
		@extend .shadow-lg;
		@extend .navbar-light;
		@extend .bg-white;
		.nav-link{
			@extend .text-secondary;
			@extend .text-uppercase;
			@extend .font-weight-bold;
			@extend .small;
		}
		.menu-item:hover,
		.active{
			.nav-link{
				@extend .text-primary;
			}
		}
		&-nav{
			@extend .ml-auto;
		}
		&-brand{
			.custom-logo{
				width: 75px;
				height: auto;
			}
			#site-title{
				@extend .d-none;
			}
		}
		&-collapse{
			@extend .flex-column;
			#language{
				margin-top: -1rem;
				.btn{
					@extend .p-0;
					@extend .ml-1;
					font-size: 75%;
				}
			}
		}
	}
}

//
// Call to Actions
//
#call_action{
	&_one{
		background-size: contain;
		background-position: right;
		margin-top: -8rem;
		@extend .bg-white;
		@extend .py-10;
		@extend .px-5;
		@extend .mb-10;
		@extend .shadow;
		@include media-breakpoint-down(md){
			background-position: top;
			background-size: auto;
			padding-bottom: 5rem !important;
		}
		.call-action{
			&-wrapper{
				@extend .text-body;
				@extend .w-50;
				@extend .text-center;
				@include media-breakpoint-down(md){
					width: 100% !important;
					margin-top: 18rem;
				}
			}
			&-headline{
				@extend .h1;
			}
			&-body{
				@extend .lead;
				@extend .font-weight-bold;
			}
		}
	}
	&_two{
		@extend .py-6;
		@extend .bg-primary;
		background-blend-mode: multiply;
		.call-action{
			&-wrapper{
				@extend .container;
				@extend .text-center;
				@extend .text-light;
				@extend .font-weight-bold;
			}
			&-body{
				@extend .lead;
				@extend .font-weight-bold;
			}
		}
	}
}

//
// Front Page Widgets
//
#featured-widget-area{
	@extend .text-center;
	@extend .mb-10;
	header{
		@extend .mb-5;
	}
	.card{
		@extend .mx-3;
		@extend .border-bottom;
		@extend .border-primary;
		@extend .border-top-0;
		@extend .border-left-0;
		@extend .border-right-0;
		&-body{
			@extend .px-0;
		}
	}
}

//
// Content
//
.page, .single{
	article{
		header{
			@extend .text-center;
			@extend .mb-4;
			h1{
				@extend .border-0;
			}
		}
		h2, h3, h4, h5, h6{
			&:not(.program-title){
				@extend .text-center;
				@extend .border-bottom;
				@extend .mt-5;
				@extend .mb-3;
			}
		}
	}
}
.page-template{
	.featured-header{
		header{
			@extend .text-center;
			@extend .mb-4;
		}
	}
}

//
// Programs
//
.program{
	&-item{
		@extend .position-relative;
		@extend .pb-4;
		&:after{
			@extend .position-absolute;
			bottom: 0;
			right: 1rem;
			left: 5rem;
			content: "";
			height: 1px;
			@extend .bg-green;
		}
	}
	&-title{
		a{
			&:hover{
				@extend .text-green;
			}
		}
	}
}

//
// FAQs
//
.faq{
	&-title{
		text-transform: none !important;
	}
}

//
// JetPack Contact Form
//
.contact-form{
	@extend .w-75;
	@extend .mx-auto;
	> div{
		@extend .form-group;
		input, textarea, select{
			@extend .form-control;
			@extend .w-100;
			@extend .mw-100;
		}
		input[type="radio"],
		input[type="checkbox"]{
			@extend .w-auto;
			@extend .float-left;
			@extend .mb-1;
			@extend .mr-3;
			margin-top: -6px;
		}
		textarea{
			height: 250px;
		}
	}
	label{
		@extend .mb-3;
		&.checkbox,
		&.radio{
			@extend .d-block;
		}
	}
	.contact-submit{
		.pushbutton-wide{
			@extend .btn;
			@extend .btn-primary;
		}
	}
}

//
// Footer
//
#footer{
	@include gradient-x( $success, $info );
	*{
		@extend .text-white;
		@extend .text-center;
	}
	@extend .pt-4;
	@extend .pb-3;
}
#colophon{
	@extend .p-0;
}
